<!--<h1>Users</h1>-->
<!--<div class="grid grid1" *ngIf="users">-->
<!--  <div *ngFor="let user of users;let indexOfelement=index;" class="item">-->
<!--    <div class="item-content">-->
<!--      <div class="item-content-inner">-->
<!--        {{user.name.first}}  {{user.name.last}}-->
<!--      </div>-->
<!--      index: {{indexOfelement}}-->
<!--      <pre *ngIf="grid1">{{grid1.getItems() | json}}</pre>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<hr>-->
<!--<div class="grid grid2" *ngIf="users">-->
<!--  <div *ngFor="let user of users;let indexOfelement=index;" class="item">-->
<!--    <div class="item-content">-->
<!--      <div class="item-content-inner">-->
<!--        {{user.name.first}}  {{user.name.last}}-->
<!--      </div>-->
<!--      index: {{indexOfelement}}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

